# Dependency directories
node_modules/

# Environment variables file
.env

# Vercel deployment files
.vercel

# macOS directory attributes
.DS_Store

# Logs
logs
*.log*

# IDE files
.idea/
.vscode/

# npm debug log
npm-debug.log*
